:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

[data-theme='developer'] {
  --bg-color: #1e1e1e;
  --obj-color-1: #ff00ff;
  --obj-color-2: #00ffff;
  --obj-color-3: #ffff00;
  --btn-bg: #333;
  --btn-text: #fff;
  --btn-active-bg: #fff;
  --btn-active-text: #333;
}

[data-theme='entrepreneur'] {
  --bg-color: #ffffff;
  --obj-color-1: #0000ff;
  --obj-color-2: #00ff00;
  --obj-color-3: #ff0000;
  --btn-bg: #f0f0f0;
  --btn-text: #000;
  --btn-active-bg: #000;
  --btn-active-text: #fff;
}

[data-theme='video-creator'] {
  --bg-color: #333333;
  --obj-color-1: #ff4500;
  --obj-color-2: #1e90ff;
  --obj-color-3: #ffd700;
  --btn-bg: #555;
  --btn-text: #fff;
  --btn-active-bg: #ff4500;
  --btn-active-text: #fff;
}

.persona-button {
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: 1px solid var(--btn-text);
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.persona-button.active {
    background-color: var(--btn-active-bg);
    color: var(--btn-active-text);
}
